UpLoadWebApplication/Service References/UpLoadService/UpLoadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1630/UpLoadService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FileUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileData" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="SavePath" nillable="true" type="xs:string" />
  <xs:element name="Tranter" type="xs:long" />
  <xs:element name="Tranters" type="xs:long" />
  <xs:element name="length" type="xs:int" />
  <xs:element name="FileReturnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MsgData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOk" type="xs:boolean" />
</xs:schema>