Cdo.Comon.Tool/Service References/WcfBatchRequest/UpLoadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpLoadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUpLoadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1630/UpLoadService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1630/UpLoadService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:1630/UpLoadService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="SavePath" element="tns:SavePath" />
    <wsdl:part name="Tranter" element="tns:Tranter" />
    <wsdl:part name="Tranters" element="tns:Tranters" />
    <wsdl:part name="length" element="tns:length" />
  </wsdl:message>
  <wsdl:message name="FileReturnMessage">
    <wsdl:part name="parameters" element="tns:FileReturnMessage" />
  </wsdl:message>
  <wsdl:message name="FileReturnMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="IsOk" element="tns:IsOk" />
    <wsdl:part name="Tranter" element="tns:Tranter" />
    <wsdl:part name="Tranters" element="tns:Tranters" />
  </wsdl:message>
  <wsdl:portType name="IUpLoadService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpLoadService/UploadFileResponse" name="FileReturnMessage" message="tns:FileReturnMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpLoadService" type="tns:IUpLoadService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUpLoadService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="SavePath" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="Tranter" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="Tranters" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileReturnMessage">
        <soap:header message="tns:FileReturnMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileReturnMessage_Headers" part="IsOk" use="literal" />
        <soap:header message="tns:FileReturnMessage_Headers" part="Tranter" use="literal" />
        <soap:header message="tns:FileReturnMessage_Headers" part="Tranters" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpLoadService">
    <wsdl:port name="BasicHttpBinding_IUpLoadService" binding="tns:BasicHttpBinding_IUpLoadService">
      <soap:address location="http://localhost:1630/UpLoadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>